[class^="col-"] {
    border: 1px solid black;
}

@font-face {
    font-family: WorkSansRegular;
    src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
}

@font-face {
    font-family: WorkSansBold;
    src: url("../fonts/Work_Sans/WorkSans-Bold.ttf");
}

@font-face {
    font-family: WorkSansSemiBold;
    src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

.container {
    height: 100%;
    
}

/*
.pos-video {
    margin: 20px;
    border: 1px solid black;
}
*/

body {
    font-family: WorkSansRegular;
}
nav {
    
    float: left;
}

ul {
    width: 16%;
    position: fixed;
    background-color: lightgray;
    height: 100%;
    overflow: auto;
}

li {
   
    border: 1px solid white;
    display: block;
    list-style: none;
}
nav ul li p {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

nav ul li a { 
    font-size: 13px;
    background-image: url(../icons/baseline_reorder_black_18dp.png);
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 15px 0px 15px 40px;
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav ul li a:hover {
    background-image: url(../icons/baseline_reorder_white_18dp.png);
    background-color: rgba(22, 72, 153, 1);
    color: white;
}

h1 {
    font-size: 34px; 
}

h2 {
    line-height: 2em;
}

section {
    text-align: center;
    margin-left: 16%;
    padding-top: 20px

}
article {
    position: flex;
    padding: 10px;
}

footer {
    margin-left: 16%;
    height: 80px;
    margin-top: 25px;
    border-top: 1px solid lightgray;
    border-bottom: 5px solid rgba(22, 72, 153, 1);
    text-align: center;
    vertical-align: middle;
}

footer h4 {    
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #686f7a;
    line-height: 18px;
    font-size: 13px;
    font-weight: 100 !important;
    letter-spacing: 1px;
    padding: 0px;
}