@font-face {
    font-family: WorkSansRegular;
    src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
}

@font-face {
    font-family: WorkSansBold;
    src: url("../fonts/Work_Sans/WorkSans-Bold.ttf");
}

@font-face {
    font-family: WorkSansSemiBold;
    src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

.sair {
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
    background-color: rgba(22, 72, 153, 1);
}

.descricao {
    background-image: url(../icons/linha.png);
    background-repeat: no-repeat;
    background-position: ;
}

.botao {
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-image: url(../icons/baseline_arrow_forward_white_18dp.png);
    background-repeat: no-repeat;
    background-position: 3px;
    text-decoration: none;
    padding: 7px 7px 7px 25px;
    background-color: rgba(22, 72, 153, 1);
}

.quest {
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-image: url(../icons/baseline_create_white_18dp.png);
    background-repeat: no-repeat;
    background-position: 5px;
    text-decoration: none;
    padding: 7px 7px 7px 25px;
    background-color: rgba(22, 72, 153, 1);
}




/*Configuração do menu lateral*/

input[type="radio"]:checked ~ ul {
    color: white;
    display: block;
    transform: translateY(0);
}

input[type="radio"]:checked ~ ul {
    color: white;
    background-color: rgba(120, 120, 120);
}

input[type="radio"]:checked ~ ul ul{
    color: white;
    border-left: 0px;
}

input[type="radio"]:checked ~ label {
    background-image: url(../icons/baseline_reorder_white_18dp.png);
    color: white;
    background-color: rgba(120, 120, 120);
}

input[type="radio"] {
    position: absolute;
    left: -999px;
}

.active{
    background-color: rgb(24, 58, 209) !important;
}

.content-box ul {
    display: none;
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.label-header {
    display: block;
}

.full {
/*    height: 665px;*/
    background-color: lightgray;
}

nav {
    position:fixed;
    background-color: lightgray;
    height: 100%;
    width: 16.666666667%;
}

ul {
    width: 100%;
    overflow: auto;
}


nav ul li p {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

nav ul li label,
nav ul li ul li label,
nav ul li ul li ul li {
    border-bottom: 1px solid white;
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li label {
    font-size: 13px;
    background-image: url(../icons/baseline_reorder_black_18dp.png);
    color: black;
    padding: 15px 0px 15px 40px;
    background-position: 15px;
}

nav ul li ul li label {
    font-size: 12px;
    background-image: url(../icons/baseline_reorder_white_18dp.png);
    color: white;
    padding: 5px 0px 15px 60px;
    background-position: 36px 7px;
}

nav ul li ul li ul li {
    font-size: 11px;
    background-image: url(../icons/baseline_arrow_forward_white_18dp.png);
    background-position: 61px;
    padding: 15px 0px 15px 80px;

}

nav ul li ul li ul li a, nav ul li ul li a {
    text-decoration: none;
    color: white;
}

nav ul li label:hover {
    background-image: url(../icons/baseline_reorder_white_18dp.png);
    background-color: rgb(119, 119, 119);
    color: white;
}



/*Configuração do section*/

.shadow {
/*    box-shadow: 1px 1px 10px 1px #cccccc;*/
    text-align: left;
}

body {
    height: 100%;
    font-family: WorkSansRegular;
}

h1 {
    border-radius: 10px;
    background-color: lightgray;
    display: inline-block;
    margin: 0px;
    padding: 7px;
    color: rgba(22, 72, 153, 1);
    font-size: 34px;
}

h2 {
    line-height: 2em;
}

section {
    padding-top: 10px
}

.centralizar {
    text-align: center;
    padding: 5px;
}
article {
    position: flex;
}

footer {
    margin-top: 25px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 5px solid rgba(22, 72, 153, 1);
    text-align: center;
    vertical-align: middle;
    width: 84%;
    margin-left: 16%;
    bottom: 0;
}

footer h4,
footer span,
footer a {
    display: inline;
    text-decoration: none !important;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #686f7a;
    line-height: 18px;
    font-size: 13px;
    font-weight: 100 !important;
    letter-spacing: 1px;
}


.mainContent {
    width: 85%;
    height: auto;
    padding: 1% 1%;
}
