* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: WorkSansRegular;
    src: url(fonts/Work_Sans/WorkSans-Regular.ttf);
}

@font-face {
    font-family: WorkSansBold;
    src: url("fonts/Work_Sans/WorkSans-Bold.ttf");
}

@font-face {
    font-family: WorkSansSemiBold;
    src: url("fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

body {
    font-family: WorkSansRegular;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.8px;
    color: #333;
    background-color: #fff;
    background-color: rgba(234, 234, 234, 1);
}

@media (min-width: 0px) {
    .col-mb-1,
    .col-mb-10,
    .col-mb-11,
    .col-mb-12,
    .col-mb-2,
    .col-mb-3,
    .col-mb-4,
    .col-mb-5,
    .col-mb-6,
    .col-mb-7,
    .col-mb-8,
    .col-mb-9,
    .col-mb-10,
    .col-mb-11,
    .col-mb-12 {
        float: left;
    }
    .col-mb-12 {
        width: 100%;
    }
    .col-mb-11 {
        width: 91.66666667%;
    }
    .col-mb-10 {
        width: 83.33333333%;
    }
    .col-mb-9 {
        width: 75%;
    }
    .col-mb-8 {
        width: 66.66666667%;
    }
    .col-mb-7 {
        width: 58.33333333%;
    }
    .col-mb-6 {
        width: 50%;
    }
    .col-mb-5 {
        width: 41.66666667%;
    }
    .col-mb-4 {
        width: 33.33333333%;
    }
    .col-mb-3 {
        width: 25%;
    }
    .col-mb-2 {
        width: 16.66666667%;
    }
    .col-mb-1 {
        width: 8.33333333%;
    }
    .container {
        width: 750px;
    }
    .miniatura {
        width: 99%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    footer {
        height: 65px;
    }
    .slideShow {
        display: none;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 150px;
    }
    main{        
        display: table;
        content: "";
        clear: both;
    }
}

@media (min-width: 400px) {
    .col-mb-1,
    .col-mb-10,
    .col-mb-11,
    .col-mb-12,
    .col-mb-2,
    .col-mb-3,
    .col-mb-4,
    .col-mb-5,
    .col-mb-6,
    .col-mb-7,
    .col-mb-8,
    .col-mb-9,
    .col-mb-10,
    .col-mb-11,
    .col-mb-12 {
        float: left;
    }
    .col-mb-12 {
        width: 100%;
    }
    .col-mb-11 {
        width: 91.66666667%;
    }
    .col-mb-10 {
        width: 83.33333333%;
    }
    .col-mb-9 {
        width: 75%;
    }
    .col-mb-8 {
        width: 66.66666667%;
    }
    .col-mb-7 {
        width: 58.33333333%;
    }
    .col-mb-6 {
        width: 50%;
    }
    .col-mb-5 {
        width: 41.66666667%;
    }
    .col-mb-4 {
        width: 33.33333333%;
    }
    .col-mb-3 {
        width: 25%;
    }
    .col-mb-2 {
        width: 16.66666667%;
    }
    .col-mb-1 {
        width: 8.33333333%;
    }
    .container {
        width: 750px;
    }
    .miniatura {
        width: 99%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    footer {
        height: 65px;
    }
    .slideShow {
        display: none;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 100px;
    }
    main{        
        display: table;
        content: "";
        clear: both;
    }
}

@media (min-width:568px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .container {
        width: 750px;
    }
    .miniatura {
        width: 100%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    footer {
        height: 45px;
    }
    .slideShow {
        display: none;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 150px;
    }
    main{        
        display: table;
        content: "";
        clear: both;
    }
}


@media (min-width:750px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .container {
        width: 750px;
    }
    .miniatura {
        width: 95%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    footer {
        height: 45px;
    }
    .slideShow {
        display: none;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 260px;
    }
    main{        
        display: table;
        content: "";
        clear: both;
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .container {
        width: 970px;
    }
    .miniatura {
        width: 100%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    .miniatura:nth-child(1) {
        float: left;
    }
    .miniatura:nth-child(2) {
        float: left;
    }    
    footer {
        height: 25px;
    }
    .slideShow {
        display: block;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 150px;
    }
    main{        
        display: block;
        content: "";
        clear: both;
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .container {
        width: 1170px;
    }
    .miniatura {
        width: 100%;
        height: 120px;
        margin: 0.5% 0.5%;
    }
    .miniatura:nth-child(1) {
        float: left;
    }
    .miniatura:nth-child(2) {
        float: left;
    }    
    footer {
        height: 25px;
    }
    .slideShow {
        display: block;
        overflow: hidden;
    }
    .divMiniaturaGeral {
        width: 100%;
        height: 150px;
    }
    main{        
        display: block;
        content: "";
        clear: both;
    }
}


button,
input,
select,
textarea,
a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    opacity: 0.7;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

.h1,
.h2,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4,
.h5,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1 {
    font-size: 36px
}

.h2 {
    font-size: 30px
}

.h3 {
    font-size: 24px
}

.h4 {
    font-size: 18px
}

.h5 {
    font-size: 14px
}

.h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px;
    font-size: 11px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.row:after,
.row:before {
    display: table;
    content: "";
    clear: both;
}

.top-panel {
    width: 100%;
    background-color: #365570;
    height: 115px;
    line-height: 90px;
    display: block;
    border-bottom: 0.5px solid rgba(225, 225, 225, 1);
    text-align: center;
}

.logo {
    margin: 10px auto;
}

.logo img {
    height: 80px;
    width: 170px;
}

.divMenu {
    background-color: rgba(250, 250, 250, 1);
}

.menu {
    list-style: none;
}

.logIn {
    text-align: right;
}

.menu li,
.logIn li {
    display: inline-flex;
    padding: 6px 15px;
}

.menu li a {
    text-decoration: none;
    font-size: 16px;
    font-family: WorkSansSemiBold;
}

.logIn li a {
    text-decoration: none;
    font-size: 16px;
    font-family: WorkSansRegular;
    padding: 0px 10px;
}

main {
    width: 100%;
    max-width: 1350px;;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5% 0%;
}

.mainContent {
    width: 85%;
    height: auto;
    padding: 1% 1%;
}

.slideShow {
    border: 0.5px solid rgba(220, 220, 220, 1);
    border-radius: 8px;
    width: 100%;
    height: 220px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 400%;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 220px;
    width: 25%;
    cursor: pointer;
}

.slide img{
    width: 100%;
    height: 100%;
}


@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }
    30% {
        margin-left: -100%;
    }
    50% {
        margin-left: -100%;
    }
    60% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    80% {
        margin-left: -300%;
    }
    90% {
        margin-left: -300%;
    }
}

section {
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

article {
    margin: 5px 0px;
    display: block;
    height: auto;
}

.miniatura img {
    width: 100%;
    height: 100%;
}

.miniatura img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

footer {
    margin: 10px auto;
    padding-top: 5px;
    vertical-align: middle;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 5px solid #365570;
}

.footerContent {
    max-width: 1350px;
    margin: auto;
    text-align: center;
}


footer h4,  footer a{
    display: inline;
    text-decoration: none !important;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #686f7a;
    line-height: 18px;
    font-size: 13px;
    font-weight: 100 !important;
    letter-spacing: 1px;
}

footer span{
    margin: 0px 1%;
}

.legenda {
    font-size: 12.5px;
    padding: 5px 20px 5px 10px;
    text-align: justify;   
}